
.sec3{
    background-color: black;
    padding: 70px;
}
.inbox8{
    text-align: center;
    color: aliceblue;

}


.sec2 {
    background-image: url(coffee.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
  padding: 250px 0;
   text-align: center;
   color: white;    
}
.sec4 {
    background-image: url(strar.jpg);
    text-align: center;
    color: white;
    padding: 250PX 0;
    background-position: center;
   
}

.sec5 {
    background-image: url(catering.jpg);
    text-align: center;
    color: white;
    background-position: center;
    padding: 150px 0;
}
.sec6{
    background-image: url(width.jpg);
    color: white;
    text-align: center;
    /* background-position: center; */
  
}
.overlay{
    background-color: rgba(255, 255, 255, 0.607);
      padding: 100px 0;
}
.line{
    background-color: antiquewhite;
    height: 2px;
}
.line1{
    width: 50%;
}
.sec7 {
    background-image: url(shop.jpg);
    color: white;
    text-align: center;
    
   
}
.shop{
    background-color: rgba(0, 0, 0, 0.365);
    padding: 200px 0;
}
.sec8 {
    background-image: url(loyal.jpg);
    color: white;
    text-align: center;
    
}
.sec9 {
    background-image: url(coffee-shop.jpg);
    color: white;
    text-align: center;
    background-size: cover;
}
.cofee{
    background-color: rgba(212, 160, 96, 0.548);
    padding: 80px 0;
}

.sec10{
    background-image: url(last-pic.jpg);
    color: white;
    
    padding: 250px 0;
}
.inbox13{
    text-align: center; 
}



.sec11{
    background-color: rgb(63, 60, 60);
    padding: 30px 0;
 
    color: white;
    text-align: center;
    
}
.sec12{
    background-color: black;
    padding: 20px;
}
.inbox15{
   text-align: end;
}

.box{
    padding: 80px 0;
}
